# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
.lighthouseci/
lighthouse-*.json
lighthouse-*.html
*.report.html

# next.js
/.next/
/out/
/build
.next-env.d.ts

# production
/build

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lighthouse-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea
.vscode
*.swp
*.swo

# cache
.cache
.npm
.eslintcache
.stylelintcache

# build artifacts
.turbo

# temporary files
*.tmp
*.temp
*.log

# test reports
/reports
/test-results
*.report.*
